/*
* Noon Deliveries V1.0
* Copyright 2014, Noon Deliveries
* www.noondeliveries.com
* 13/03/2014
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Font-Face */

/* #Site Styles
================================================== */
h1, h2, h3, h4, h5, h6 {
		color: rgb(61,61,61);
		font-weight: normal; 
		font-family: "Sans Caption", Helvetica, Arial, sans-serif;}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-family: "brush script", "Times New Roman", serif;font-size: 46px; line-height: 50px; margin-bottom: 14px;color: rgb(206,56,42);}
	h2 { font-family: "Sans Caption", Helvetica, Arial, sans-serif;font-size: 40px; line-height: 40px; margin-bottom: 10px;color: rgb(50,116,244); }/* voor header/headlines */
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		font-family: "Sans Caption", Helvetica, Arial, sans-serif;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow:normal;
}


.title_blue h2{
	height: 120px;
	background:url('../images/layout-img/title-bg-bottom.png') no-repeat;
	background-position: bottom;
}
.button, button{}


body {
		background: #fff;
		font: 16px/23px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: rgb(61,61,61);
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }

a, a:visited { color: rgb(206,56,42); text-decoration: none; outline: 0; }
a{	}
a:hover, a:focus { color: rgb(61,61,61); }
*{ 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;  

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;    

	        
}

input[type=text] { -webkit-user-select: text; }

.spc{
	padding-top:15px;
}

/* || Page button styles || */


.closed.button{
	background: rgb(237,236,236);
	border-bottom: 4px solid;
	border-color: rgb(151,150,150);
	color: rgb(77,77,77);
	padding: 12px 30px 10px 30px;
	font-weight: bolder;
}

.closed.button:hover{
	background: rgb(237,236,236);
	color: rgb(149,24,12);
}

.proceed.button{
	background: rgb(206,56,42);
	border-bottom: 4px solid;
	border-color: rgb(168,28,14);
	color: rgb(251,249,249);
	padding: 12px 25px 10px 25px;
	font-weight: bolder;
}

.proceed.button:hover{
	background: rgb(185,44,31);
	color: rgb(149,24,12);
}

.sign.button{
	background:rgb(50,116,244);
	border:1px solid rgb(50,116,244) ;
    font-size:13px;
    text-decoration:none;
    color:#fff;
    position:relative;
    padding:10px 25px 5px 25px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px #9e8d84, 0px 3px 0px 0px #0e42a7;
    text-shadow: 1px 1px #000;
}

.sign.button a{
	color: #fff;
}

.sign.button:active{
	top:3px;
   
}

.sign.button:active::before {
    top:50%;
    margin-top:-12px;
    box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px #382e29;
}

.green.button{
	background: rgb(68,156,34);
	border-bottom: 4px solid;
	border-color: rgb(38,107,12);
	color: #fff;
	padding: 12px 25px 10px 25px;
	font-weight: bolder;
}

.green.button:hover{
	background: rgb(55,138,23);
	color: rgb(38,107,12);
}

.contact.button{
	background:rgb(223,223,223);
	border:1px solid #fff ;
    font-size:13px;
    text-decoration:none;
    color:rgb(206,56,42);
    position:relative;
    padding:10px 17px 5px 17px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px #9e8d84, 0px 3px 0px 0px #631a18;
   
}

.contact.button:active{
	top:3px;
   
}

.contact.button:active::before {
    top:50%;
    margin-top:-12px;
    box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px #382e29;
}

.submit.button{
	background: rgb(240,240,240);
	border-bottom: 1px solid;
	border-color: #fff;
	color: rgb(206,56,42);
	padding: 12px 85px 10px 85px;
	font-weight: bolder;
	-moz-box-shadow: 0px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 3px rgba(0,0,0,0.3);
}

.submit.button:hover{
	background: #fff;
	color: rgb(61,61,61);
}

.waves{
	background:url('../images/layout-img/wave-red-small.png') repeat;
	height: 23px;
	width: 100%;
	position:absolute;
	z-index:1000;
}

.wave-second{
	background:url('../images/layout-img/wave-gray.png') repeat;
	height: 20px;
	width: 100%;
	position:relative;
	z-index:1000;
	margin-top:100px;
}

.wave-second-a{
	background:url('../images/layout-img/wave-red-bottom.png') repeat;
	height: 20px;
	width: 100%;
}

.title_blue h2{
	height: 120px;
	background:url('../images/layout-img/title-bg-bottom.png') no-repeat;
	background-position: bottom;
	text-align: center;
	font-weight: bolder !important;
}

.top_space_padding{
	margin-top:40px;
}


/* #Page Styles
================================================== */

/* -- TOP NAVIGATION -- */

.top-nav{
	background: rgb(206,56,42);
	padding-top:10px;
}

.top-nav .logo{
	background:url('../images/layout-img/logo.png') no-repeat;
	padding: 0px 0 0px 87px;
}

.top-nav .logo p{
	margin-bottom: 0;
	color: rgb(98,25,24) !important;
	padding-left: 30px;
	color:#000;
	font-style:italic
}

.top-nav .logo strong{
	color: rgb(98,25,24);
}

.top-nav .logo h1{
	margin-bottom: 0;
	line-height: 10px;
	padding: 30px 0 10px 0;
}

.top-nav .logo h1 a{
	color: rgb(98,25,24);
}

.top-nav .logo h1 a:hover{
	opacity: 0.8;
}

.top-nav .account-options ul{
	float: right;
	margin:0;
	padding:0;
	padding-top: 10px;
}

.top-nav .account-options ul li{
	margin:0;
	padding:0;
}

.top-nav .account-options ul li{
	display: inline-block;
	margin-left: 20px;
}

.top-nav li.login-option a{
	background:url('../images/layout-img/user-icon.png') no-repeat;
	background-position: left;
	color:#fff;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

.top-nav li.login-option a:hover, .top-nav li.reorder-option a:hover{
	color: #3d3d3d;
}

.top-nav li.reorder-option a{
	background:url('../images/layout-img/icon_heart.png') no-repeat;
	background-position: left;
	color:#fff;
	padding-left: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
}










/* -- CONTENT WRAPPER -- */

.center-content-wrapper{
	background: #fff;
	width: 100%;
    z-index: 1000;
}
.wave-second{
	background:url('../images/layout-img/wave-gray.png') repeat;
	height: 20px;
	width: 100%;
	z-index: 1000;
}

.scroll{
	padding-bottom: 0px;
	margin-bottom: 300px;
}

.wave-second-a{
	margin-top:50px;
}

.page-like-bottom{
	height: 600px;
}

.space{
	height: 200px;
}


/* ============Right sidebar items list============= */

.autofix_sb.fixed {
  position: fixed !important;
  left: auto;
  top: 300px;
  right: auto;
  bottom: 900px;
  height: 100%;
  overflow:hidden;
 margin-top:10px;
}

.autofix_sb.fixed.bottom {
  bottom: 0;
  position: absolute !important;


}

.order-list-sidebar{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding:10px 10px 0 10px;
	
	overflow: hidden;
}
.bottom-stesh{
	background:url('../images/layout-img/sidebar.png') no-repeat;
	background-position: bottom;
	height: 40px;
}

.order-list-sidebar h5{
	color: rgb(50,116,244);
	font-weight: bold;
	padding-bottom: 20px;
}

.order-list-sidebar p{
	margin:0;
	font-weight: bold;
	font-size: 14px;
}

.checkout-btn{
	text-align: center;
}




ul.order-items{
	font-size: 12px;
}

ul.order-items li{
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	padding-bottom: 10px;
}


ul.order-items li span.product-name{
	width: 100px;
	padding-left: 4px;
}

ul.order-items li a{
	width: 16px;
	height: 16px;
	display: block;
}

ul.order-items li a:hover{
	opacity: 0.8;
}

li span.min a{
	background: url('../images/layout-img/menu-icons/icon_minus.png');
}

li span.plus a{
	background: url('../images/layout-img/menu-icons/icon_plus.png');
	float: right;
}

li span.quantity{
	padding-left: 5px;
}

li span.price{
	width: 40px;
	text-align: center;
	padding-right: 3px;
}

li.actie-section span.min a, li.actie-section-second span.min a{
	background: none;
}

li.actie-section span.plus a, li.actie-section-second span.plus a{
	background: url('../images/layout-img/menu-icons/icon_error.png');
}

li.extra-fee span a, li.total span a{
	background: none;
}

li.total{
	font-weight: bold;
	font-size: 13px;
}

li.item>span.product-name{
	color:red;
}




/* ===================list menu style========================= */

.menu-wrapper{
	background:url('../images/brug-bg.png') #fff no-repeat;
	background-position: bottom;
	overflow: hidden;
}


.menu-list-center{
	padding-bottom: 300px;
}

.menu-list-head{
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.list-sections h4{
	color: rgb(50,116,244);
	font-weight: bolder;
	float: left;
}

.list-sections li>title{
	font-size: 10px;
}


.list-sections{
	padding-bottom: 30px;
}

.list-sections ul{
	width: 100%;
}

.list-sections ul li{
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
	overflow: hidden;
}

li.center_items_menu span.add_this_item, li.center_items_menu span.item_price{display: inline;}

li.center_items_menu span.add_this_item{
	width: 20px;
	height: 20px;
}

li.center_items_menu span.item_price{
	width: 80px;
	height: 20px;
	text-align: right;
}

li span.item_discription{
	font-weight: bold;
	width: 70%;
}

li span.item_discription ul li{
	border: none;
	margin:0;
	padding:0;
	font-size: 12px;
	float: left;
	margin-left: -30px;
	font-weight: normal !important;
}

.item-img{
	background:url('../images/layout-img/menu-icons/bottle.png') no-repeat;
	width: 11px;
	height: 40px;
	display: block;
	margin-right: 15px;
}

li span.add_this_item a{
	background:url('../images/layout-img/menu-icons/add.png') no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	margin-left: 8px;
}

li span.add_this_item a:hover{
	opacity: 0.8;
}

li.center_items_menu.normal>span.item-img{
	display: none;
}

li.center_items_menu.normal>span.item_discription{
	width: 76%;
}








.topscroll a{
	background:url('../images/layout-img/arrow_up.png') no-repeat;
	margin-top:5px;
	width: 18px;
	height: 18px;
	display: block;
	float: right;
}




/* ===============left side bar================== */


.search-side-menu h5{
	color: rgb(50,116,244);
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}

ul.list-side-links-left li{
	border-bottom: 1px solid #ddd;
	padding:5px 0;
	margin:0;
	font-size: 13px;
}

.search-menu{
	background: #f0f0f0;
	padding: 12px 5px;
	border-radius: 3px;
	border: 1px solid #e4e3e3;
	overflow: hidden;
	height: 60px;
}

input[type="text"] 
{
                 float: left;
                 width: 130px;
                 padding: 8px 5px 7px 5px;

                 border: 1px solid #999999;
                 font-weight: normal;
                 -moz-border-radius: 5px;
                 -webkit-border-radius: 5px;
                 border-radius: 5px;
                 -webkit-user-select: text;
                     }

                     input[type="submit"].solid {
                 float: right;
                 cursor: pointer;
                 padding: 6px 6px 5px 6px;
                 background: rgb(206,56,42);
                 color: #fff;
                 text-transform: uppercase;
                 border: 1px solid rgb(168,28,14);
                 -moz-border-radius: 5px;
                 -webkit-border-radius: 5px;
                 border-radius: 5px;

                 box-shadow: inset 0px 0px 0px #9e8d84, 0px 3px 0px 0px #631a18;
}






/* ===========location info========== */

.restaurant-info{
	background: #f0f0f0;
	padding-top: 20px;
	padding-bottom: 5px;
	border-left:1px solid #dcdbd9;
	border
}

.loc-info{
	overflow: hidden;
	margin-bottom: 20px;
	margin-bottom: 40px;
	margin-top: 5px;
	padding:0;
	padding-bottom: 7px;
	border-top:1px solid #dcdbd9;
	
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	background:url('../images/layout-img/full-border.png') #faf9f7 no-repeat bottom;
}
                   
.loc-info .thumb-rest{
	width: 100px;
	height: 100px;
	float: left;
	background: #000;
	margin-left: 10px;
	display: block;
	-webkit-border-radius: 5px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 5px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 5px; 
}

.data-rest{
	margin-left: 10px;
	display: block;
	float: left;	
}

.data-rest h2{
	font-size: 18px;
	color: #000;
	font-weight: bold;
	margin:0;
	padding:0;

}

.data-rest p{
	font-size: 14px;
	font-weight: bold;
}

.type-rest span{
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 5px;
}

p.type-rest {
	font-weight: normal;
}

.loc-info .fav{
	width: 100%;
	float: left;
	margin-left: 10px;
	color: red;
	
	font-size: 11px;
	padding-left: 18px;
	background: url('../images/layout-img/menu-icons/icon_star.png') no-repeat;
	background-position: 0% 30%;
}

.menu-page-facebook-box{
	width: 150px;
}

.rest-reviews span{
	font-weight: bold;
}

.rest-reviews{
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
}

.rest-reviews .rating{
	padding-bottom: 72px;
}


.time-data{
	padding-top:20px;
	border-right:1px solid #dcdbd9;
	padding-right: 5px;
}

.hours-rest{
	float: left;
}

.hours-rest p.head{
	font-weight: bold;
	font-size: 16px;
}

p.time-first span{
	padding-right: 35px;
}

p.time-second span{
	padding-right: 10px;
}

.hours-rest p{
	font-size: 14px;
	line-height: 20px;
	margin:0;
	padding:0;
}

.open-sign {
	float: right;
	background: url('../images/layout-img/opensign.png') no-repeat;
	width: 66px;
	height: 66px;
	display: block;
	margin-left: 0px;
	padding-top:20px;
}

.extra-open-info{
	padding-top: 17px;
	padding-right: 10px;
	font-size: 14px;
}

.extra-open-info p{
	margin-top:16px;
	margin-bottom: 10px;	
}

.extra-open-info p a{
	color:#3274f4;
	text-decoration: underline;
}

.payment-info-sidebar{
	border: 1px solid #ddd;
	margin-top: 20px;
	overflow: hidden;
	background: #fff;
}

.payment-info-sidebar p{
	font-size: 13px;
	font-weight: bold;
	padding:10px 10px 0 10px;
	margin:0;
}

ul.extra-payment-info{
	border-top: 1px solid #ddd;
	padding-top:10px;
}

ul.extra-payment-info li{
	font-size: 13px;
	padding: 0 10px 0 10px;
	margin:0;
}

ul.extra-payment-info li span{
	float: right;
}

p.cash-icon{
	background: url('../images/layout-img/menu-icons/cash-icon.png') 10% 50% no-repeat;
	padding-left: 40px;
	font-weight: normal;
	padding-bottom: 10px;
}

code{ padding:10px 8px; margin:3px 0; display:block; background-color:#333; color:#eee; }		
			
.order-list{ position:absolute; }
.order-list  .easing{ overflow:hidden; margin:0px 0; }
				
				
.order_sidebar_wrap{ position:absolute; top:0px; right:0; bottom:30px; }
.menu2{ top:120px; right:0px; left:auto; }
.transition200 .duration,
.transition200 .delay{ visibility:hidden; }
.transition200{ transition:200ms; -webkit-transition:200ms; -o-transition:200ms; }

.bottom-social-box{
	padding: 100px 0 100px 0;
	text-align: center;
}
.bottom-social-box.fb-like-box{}

.bottom-social-box h3{
	display:block;
	float: left;
	padding-top:50px;
	color:#3f508b;
	font-weight: bold;
	text-align: left;
	padding-right: 100px;
	background: url('../images/layout-img/fb-like-big.png') right no-repeat;
	
}

.bottom-social-box h3{

	line-height: 50p
}


.breadcrumb ul li{
 display: inline;
 font-size: 12px;
 height: 16px;
 width: 100px;
 padding-left: 17px;
 padding-right: 5px;
}

.breadcrumb ul li a{
	color: #444;
}

.breadcrumb ul li.back-home{
	background: url('../images/layout-img/menu-icons/icon_house.png') no-repeat left;
}

.breadcrumb ul li.onpage{
	background: url('../images/layout-img/menu-icons/arrow_right.png') no-repeat left;

}

.breadcrumb ul li.donepage{
	text-decoration: underline;
}








/* Home bottom contact */

.home-contact-section{
	background:rgb(206,56,42);
	padding-top:20px;
}

.home-contact-section span{
	color: #fff;
	font-size: 20px;
	padding-right: 25px;
}

/* -- FOOTER -- */

.footer-wrapper{
	background:rgb(237,237,237) ;
}

.footer-navigation-section{
	padding-top: 20px;
}

ul.footer-top-nav li{
	display: inline-block;
	margin:0 10px;
	border-right: 1px dashed #cdcbcb;
	padding-right: 25px;
}

ul.footer-top-nav li.none-brd{
	border-right: none;
	padding-right: 0px;
}

ul.footer-top-nav li a{
	font-size: 13px;
}

ul.footer-top-nav {
	text-align: center;
}

.footer-social-links ul{
	text-align: center;
	padding-top:15px;
}

.footer-social-links ul li{
	display: inline-block;
	padding: 0 5px;
}

.footer-social-links ul li a:hover{
	opacity: 0.8;
}

.bottom-browse-nav ul{
	display: inline-block;
	margin:0;
	width: 100%;
}

.bottom-browse-nav ul li{
	border-bottom: 1px solid #c1c1c1;
	margin:0;
	padding:5px 0 5px 0;
}

.bottom-browse-nav ul li a{
	margin:0;
	padding:0;
	color: #3d3d3d;
}

.bottom-browse-nav ul li a:hover{
	color:rgb(206,56,42);
}

.bottom-browse-nav tr{
	border-bottom: 1px solid #c1c1c1;
	padding:10px 0;
}

.bottom-browse-nav td a{
	margin:0;
	padding:0;
	color: #3d3d3d;
}

.bottom-browse-nav td a:hover{
	color:rgb(206,56,42);
}

table { 
  width: 100%; 
}

.bottom-browse-nav h4{
	border-bottom: 1px solid #c1c1c1;
	width: 100%;
}

.footer-newsletter-section{
	background: #e3e3e3;
	margin:20px 0;
	padding-top: 25px;
}

.footer-newsletter-section .form-wrapper {
    overflow: hidden;
    padding-top:35px;
}

.footer-newsletter-section .form-wrapper #search {
    width: 320px;
    height: 40px;
    padding: 10px 5px;
    float: left;    
    font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    border-radius: 3px; 
    background: #fff;      
}

.footer-newsletter-section .form-wrapper #search:focus {
    outline: 0; 
    border-color: #aaa;
    box-shadow: 0 1px 1px #bbb inset; 
    
}

.footer-newsletter-section .form-wrapper #search::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;

}

.footer-newsletter-section .form-wrapper #search:-moz-placeholder {
    color: #999;
    font-weight: normal;
}

.footer-newsletter-section .form-wrapper #search:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
} 

.footer-newsletter-section .form-wrapper #submit {
    float: right;    
    border: 1px solid #00748f;
    height: 42px;
    width: 100px;
    padding: 0;
    cursor: pointer;
    font: 15px Arial, Helvetica;
    color: #fafafa;
    text-transform: uppercase;    
    background: rgb(206,56,42);
    border-color: rgb(168,28,14);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    box-shadow: inset 0px 0px 0px #9e8d84, 0px 3px 0px 0px #8c190e;     
}

.footer-newsletter-section .form-wrapper #submit:hover,
.footer-newsletter-section .form-wrapper #submit:focus {       
    background: rgb(185,44,31);
	
}   
  
.footer-newsletter-section .form-wrapper #submit:active {
    outline: 0;    
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}


  
.footer-newsletter-section .form-wrapper #submit::-moz-focus-inner {
    border: 0;
}

.copyrights{
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	border-top: 1px solid #ddd;
}


.banner-section img{
	padding-bottom: 25px;
}

.promo-banner{
	width: 729px;
	margin: 0 auto;
	padding-bottom: 20px;
}

/*========================================================


veneu list

========================================================== */

ul.venue-sections-list li{
	margin: 0;
	margin-bottom: 5px;
}


ul.venue-sections-list li.selected a{
	background: url('../images/layout-img/menu-icons/icon_check.png') #cccccc no-repeat 95% 50%;
	display: block;
	padding: 5px 10px;
	color: #535353;
	font-weight: bold;
}

ul.venue-sections-list li.selected a:hover{
	color: #777777;
}

ul.venue-sections-list li.selected a span{
	font-size: 12px;
	font-weight: normal;
}

ul.venue-sections-list li a{
	background: #f0f0f0;
	display: block;
	padding: 5px 10px;
	font-weight: bold;
	color: #535353;
}

ul.venue-sections-list li a:hover{
	color: #777777;
}

ul.venue-sections-list li a span{
	font-size: 12px;
	font-weight: normal;
	padding-left: 5px;
}

.location-head{
	border-bottom: 1px solid #ddd;
}

.location-head h4{
	color: rgb(50,116,244);
	font-weight: bolder;
}

.location-head h4 span{
	font-weight: normal;
}

.location-sub-info{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}

.location-sub-info a{
	color: #158920;
	text-decoration: underline;
	font-size: 12px;
}

.location-sub-info span{
	font-weight: bold;
}



.v-data{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
	padding: 15px 0 10px 0;
}
.v-data:hover{
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.v-data h4:hover{
	color: rgb(206,56,42);

}

.v-data-info td{
	font-size: 12px;
	margin:0;
	height: 12px;
	border-collapse: collapse;
}


.v-data-info table th{
	text-align: left;
	font-weight: bold;
	font-size: 12px;
}
.v-data-info1 td{
	font-size: 12px;
	margin:0;
	height: 12px;
	border-collapse: collapse;
}


.v-data-info1 table th{
	text-align: left;
	font-weight: bold;
	font-size: 12px;
}

.item-data .btm{
	overflow: hidden;
	margin-bottom: 20px;
	margin-top: 20px;
}

table{
	border-spacing: 1px;
	border-collapse:collapse;
}

.v-data-info table th{
	width: 10px;
}
.v-data-info1 table th{
	width: 10px;
}

tr, td{
	height: 5px;
     padding: 0;
}

.v-data-info tr.title_head td{
	font-weight: bold;
}

.venue-info span{
	color: rgb(50,116,244);
	padding-left: 5px;
	padding-right: 5px;
	font-weight: normal;
}

.venue-info h4{
	margin:0;
	padding:0;
	line-height: 19px;
}

.venue-info h4:hover{color: rgb(206, 56, 42);}

.venue-info p{
	margin:0;
	padding:0;
	font-size: 12px;
	padding-bottom: 5px;
	font-weight: bold;
}
.order-btn{
	text-align: center;
}

.order-btn .rating img{
	margin:0;
	padding:0;
}

.order-btn p{
	margin:0;
	padding:0;
}

.order-btn .proceed.button{
	margin-bottom: 8px;
}

.tag-sponsored{
	padding-left: 30px;
	font-size: 13px;
	color: #c9c8c8;
}

.v-data .thumb{
	padding-left: 15px;
}

p.reviews-box{
	font-size: 13px;
	margin:0;
	padding:0;
}

.reviews-box a{
	color: #14891f;
	text-decoration: underline;

}

.not-sponsored .v-data{
	margin-top:15px;
}


.suggest-btn{
	text-align: center;
	background: #f0f0f0;
	width: 400px;
	margin:0 auto;
	-webkit-border-radius: 5px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 5px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 5px; 
  border:1px solid #c1c1c1;
  margin-top: 100px;
  padding-top:15px;

}

.suggest-btn h4{
	color: #3274f4;
	font-weight: bold;
}

.other_venues{
	border-top: 1px solid #ddd;
	padding-top: 20px;

	margin-top:20px;
}

.header_other_venues p{
	font-weight: bold;
	padding-left: 20px;
}


.product-categories li { background: none repeat scroll 0 0 #f0f0f0;
     margin: 0 0 5px; line-height: 18px;}

.product-categories li a{     background: none repeat scroll 0 0 #f0f0f0;
    color: #535353;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;}





.link{
	background: #222;
background: -moz-linear-gradient(#252525, #0A0A0A) ;
background: -o-linear-gradient(#252525, #0A0A0A);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0A0A0A));
background: -webkit-linear-gradient(#252525, #0A0A0A);
-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
color:#fff;
padding: 8px 10px;
text-decoration: none;
font-weight: normal;
font-size: 18px;
font-family: Arial,Verdana;
word-spacing: 1px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-o-border-radius: 4px;
-ms-border-radius: 4px;
}
.link:hover{
background:#62ABD8 !important;
background: -moz-linear-gradient(#80BADE, #62ABD8) ;
background: -o-linear-gradient(#80BADE, #62ABD8);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#80BADE), to(#62ABD8));
background: -webkit-linear-gradient(#80BADE, #62ABD8);
-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
}
.link:active{
background:#62ABD8 !important;
background: -moz-linear-gradient(#80BADE, #62ABD8) ;
background: -o-linear-gradient(#80BADE, #62ABD8);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#80BADE), to(#62ABD8));
background: -webkit-linear-gradient(#80BADE, #62ABD8);
-webkit-box-shadow: inset rgba(0, 0, 0, 0.4) 0px 1px 2px;
-moz-box-shadow: inset rgba(0, 0, 0, 0.4) 0px 1px 2px;
box-shadow: inset rgba(0, 0, 0, 0.4) 0px 1px 2px;
}


	

	.item-data
	{
		display : none ; 
		width : inherit ;
		height : auto ;
		
	}

	.active {
		
		color : #000 ;
	}
	.item-data div{}
		

.item.out_district{
		background: #f0f0f0 ;
}



.bouncedit{
	float: right;
	display: block;
	margin-right: -75px;
	
	position: relative;
	width: 135px;
	height: 25px;
	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
	
}


.item
	{
		display : block;
		width : inherit ;
		height : 60px;
		line-height : 60px;
		background : #f0f0f0 ;
		border: 1px solid #e3e3e3 ;
		cursor: pointer;
		color: #444444;
		margin-top: 30px;
		border-radius: 4px;
		padding-left: 35px;
		font-weight: bold;
	}

	.item:hover >.bouncedit{
		margin-top: 8px;
		cursor:pointer;
	}


 


.item span{
	font-weight: normal;
	font-size: 14px;
	padding-left: 20px;
	color: #ce382a;
}


.badge_favorites .venue-info{
	margin-bottom: 20px;
	overflow: hidden;
}


.badge_favorites{
	border: 1px solid #ddd;
	padding: 20px 10px 20px 10px;
	margin-top: 30px;
	display: block;
	position:relative;
	 -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
-ms-border-radius: 3px;
}

.badge_favorites .proceed.button{
	margin-left: -5px;
}

.proceed.button a{
	padding:0;
	margin: 0;
	color: #fff;
}

.remove_bagde{
	margin-top: 10px;
	width: 150px;
	height: 20px;
	padding-left: 20px;
	display: none;
	left: 0;
	margin-left: 15px;
	position: absolute;
	vertical-align: text-bottom;
	font-size: 12px;
	background: url('../images/layout-img/icon_close.png') 0% 50% no-repeat;
	color: #d2d2d2;
}

.badge_favorites:hover >.remove_bagde{
	display: block;
	width: 150px;
	height: 20px;
	cursor: pointer;
	vertical-align: text-bottom;
}

.header_favorites{
	text-align: center;
	margin-top: 20px;

}

.header_favorites span{
	font-weight: bold;
}

.badge_favorites .venue-info{
	padding-top: 5px;
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

	@font-face {
	    font-family: 'brush script';
	    src: url('../fonts/brush_script/brush_script.eot');
	    src: url('../fonts/brush_script/brush_script.eot?iefix') format('eot'),
	         url('../fonts/brush_script/brush_script.woff') format('woff'),
	         url('../fonts/brush_script/brush_script.ttf') format('truetype'),
	         url('../fonts/brush_script/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }

	@font-face {
	    font-family: 'Sans Caption';
	    src: url('../fonts/Sans_Caption/PTC55F.eot');
	    src: url('../fonts/Sans_Caption/PTC55F.eot?iefix') format('eot'),
	         url('../fonts/Sans_Caption/PTC55F.woff') format('woff'),
	         url('../fonts/Sans_Caption/PTC55F.ttf') format('truetype'),
	         url('../fonts/Sans_Caption/PTC55F.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }